@charset "utf-8";

/* for icons */
@font-face {
	font-family: Icons;
	src: url('icons/icons.woff2?v=1') format('woff2'), url('icons/icons.woff?v=1') format('woff'), url('icons/icons.ttf?v=1') format('truetype');
}

:root {
	font: 62.5%/1em arial, sans-serif;
}

[class^="i-"]::before, [class*=" i-"]::before {
	display: inline-block;
	font-family: Icons !important;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	line-height: 1em;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}

.i-replay_10::before { content: "\e900"; }
.i-forward_10::before { content: "\e901"; }
.i-headphones::before { content: "\e902"; }
.i-search::before { content: "\e903"; }
.i-file-music::before { content: "\e904"; }
.i-pause::before { content: "\e905"; }
.i-play::before { content: "\e906"; }
.i-download::before { content: "\e907"; }

body {
	padding: 0;
	margin: 0;
	font-size: 1.3rem;
	background-color: #222;
	color: #ddd;
}

::-moz-focus-inner {
	border: 0;
}

#search {
	display: block;
	background-color: #556;
	margin: 0 auto 40px;
	padding: 15px 0;
	text-align: center;
	font-size: 1.2rem;
}

#search_number {
	font-size: 1.4rem;
	width: 160px;
	color: #211;
	background-color: #fff;
	outline: none;
	padding: 3px 4px;
	border: 1px solid #111;
}

#search_number:invalid {
	font-style: italic;
	color: maroon;
	background-color: #eeb;
}

#results table {
	width: 900px;
	margin: 0 auto;
	border: 1px solid #996;
	border-collapse: collapse;
}

#results table caption {
	padding: 5px;
	background-color: #153053;
	color: #eee;
}

#results table td.empty {
	padding: 20px 0;
	text-align: center;
	font-style: italic;
	font-weight: 1.4rem;
	color: orange;
}

#results table th, #results table td {
	border: 1px solid #996;
	padding: 4px;
}

#results table th {
	color: #444;
	background-color: #eec;
	font-size: 1.2rem;
}

#results table td:not(.r){
	font: 1.2rem/1em Consolas, "Courier new", Courier, monospace;
	text-align: center;
}

#results table tr td:first-child {
	width: 20px;
	font-size: 1.1rem;
}

#results table td.r span {
	display: inline-block;
	white-space: nowrap;
	width: 210px;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 2px 0;
	margin: 5px 0;
}

#results table td a {
	float: right;
	margin-left: 5px;
	font-size: 1.8rem;
	text-decoration: none;
	color: rgb(0, 153, 255);
	margin-top: 5px;
	cursor: pointer;
}

#results table td a:hover {
	text-shadow: 0 0 4px rgba(0, 153, 255, 0.7);
}

#results table td a:active {
	color: #f30;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

#loading_bg {
	display: none;
	position: absolute;
	z-index: 99;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(10, 10, 0, 0.45);
	cursor: wait;
}

body.player #loading_bg {
	bottom: 5rem;
}

#loading_bg::before {
	content: '';
	position: absolute;
	box-sizing: border-box;
	border: 10px solid;
	border-color: #3498db transparent;
	border-radius: 50%;
	--size: 200px;
	--margin: calc(var(--size) / -2);
	width: var(--size);
	height: var(--size);
	top: 50%;
	left: 50%;
	margin: var(--margin) 0 0 var(--margin);
	animation: spin 1.6s ease-in-out infinite;
}

#loading_bg::after {
	content: attr(data-loading-msg);
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	margin-top: -0.5em;
	text-align: center;
}

button {
	font-size: 1.2rem;
	font-weight: 500;
	border: 1px solid;
	border-color: #96AFDB #698ECD #698ECD #96AFDB;
	background: linear-gradient(#aaa, #666);
	color: #100;
	padding: 0.4rem 1.6rem;
}

button:hover,
button:focus {
	background: linear-gradient(#aaa, #777);
}

button:focus {
	border-color: orange;
}

button:active {
	background: linear-gradient(#666, #aaa);
	border: 1px solid #4875C2;
}

button#b_search::before {
	font-size: 1rem;
	margin-right: 3px;
}

#rec_player {
	z-index: 2;
	display: none;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 4rem;
	padding: 0.5rem 1rem;
	background-color: #cfedfc;
	border-top: 1px solid #9edbfa;
	color: #111;
}

body.player #rec_player {
	display: block;
}

#rec_player a {
	float: left;
	font-size: 4rem;
	width: 4rem;
	line-height: 4rem;
	color: #aaa;
	text-shadow: 1px 1px #fff;
	margin-right: 0.5rem;
}

#rec_player a.replay::before, #rec_player a.forward::before {
	font-size: 3rem;
	padding: 0.5rem;
}

#rec_player a.play::before {
	font-family: Icons;
	content: "\e906";
}

#rec_player.playing a.play::before {
	content: "\e905";
}

#rec_player.ready a.play, #rec_player.playing a.replay, #rec_player.playing a.forward {
	color: #000;
	cursor: pointer;
	text-shadow: none;
}

#rec_player.ready a.play:hover, #rec_player.playing a.replay:hover, #rec_player.playing a.forward:hover {
	color: #335;
}

#rec_player.ready a.play:active, #rec_player.playing a.replay:active, #rec_player.playing a.forward:active {
	color: orange;
}

#rec_player a.close {
	font-size: 3rem;
	width: 3rem;
	margin: 0;
	color: #800;
	cursor: pointer;
}

#rec_player a.close:hover {
	color: #c00;
}

#rec_player div {
	color: #222;
}

#rec_player div.rec-file {
	color: #711;
	float: left;
	margin-right: 2rem;
}

#rec_player div.rec-file::before {
	margin-right: 4px;
}

#rec_player div.info {
	display: flex;
	font-size: 1.2rem;
	line-height: 1em;
	margin-top: 3px;
}

#rec_player:not(.ready) .ready {
	display: none;
}

#rec_player.ready .loading {
	display: none;
}

#rec_player .loading {
	flex: 1 1 auto;
	font-size: 1.3rem;
	font-weight: 600;
}

#rec_player .cur-time {
	flex: 0 0 auto;
}

#rec_player .duration {
	flex: 0 0 auto;
}

#rec_player #player_gain, #rec_player .seeker {
	user-select: none;
}

#rec_player #player_gain::before {
	content: 'Volume:';
	float: left;
	margin-right: 0.3rem;
	font-size: 1rem;
	line-height: 1.5rem;
}

#rec_player #player_gain::after {
	content: attr(data-gain);
	font-size: 1rem;
	line-height: 1.5rem;
}

#rec_player #player_gain div.ctrl {
	display: inline-block;
	width: 300px;
	height: 1rem;
	outline: 1px solid #000;
	margin-top: 0.3rem;
	cursor: pointer;
}

#rec_player #player_gain span {
	display: block;
	width: 0;
	height: 100%;
	background-color: hsl(160, 100%, 40%);
}

#rec_player .seeker {
	flex: 1 1 auto;
	height: 1.2rem;
	margin: 0 0.7rem;
	cursor: pointer;
	background-color: #999;
}

#rec_player .seeker span {
	display: block;
	width: 0;
	height: 100%;
	background-color: #0088cc;
}

#seek_time_info, #volume_info {
	z-index: 98;
	display: none;
	position: absolute;
	font: 1.1rem/1em monospace;
	padding: 0.2rem;
	color: #000;
	background-color: #ffe;
	border: 1px solid #000;
}

#spanDate, #status, #status2{
	display: none; 

}